.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}



#search-keyword {
  width: 175%;
  height: 25px;
float: right;
clear: left;
align-content: center;
border-color:white;


}

#general {
  color: #fe4b1a;
  margin-top: 10%;
  margin-right: 45%;
  float: right;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  align-content: center;
  z-index: 1;
  background-color: #ffcc80;
  border-color: #fe4b1a
  
}


.container h1 {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 90px;
  color: #fea11a;
  z-index: 1;
}

#search-button {
  align-content: center;
  float: right;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: oblique;
  font-size: 18px;
  width: 100%;
  background-color: #fea11a;
  border-color: black;
  display: inline;
  
}

.sign-buttons {
  float: right;
}

.card {
  border-color: black;
}

#keyword {
  align-content: center;
  position: absolute;
  padding-left: 15%;
  padding-top: 13.5%
  
}

::placeholder {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  font-style: italic
  
}


.movie-header {
  position: fixed;
  top: 10px;
  text-align: top;
  color: #fe4b1a;
  font-family: "Bitter", serif;
  font-size: 80px;
  opacity: .4;
  padding-bottom: 1.75em;
  vertical-align: text-top;
  
}

.nearest-cinema {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fe4b1a;
font-size: 40px;
padding-top: 40px;
font-weight: bold;

/*.container h1 {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 90px;
  color: #fea11a;
  z-index: 1; */
}
.container h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  text-align: center;
  
  color: #fe4b1a;
  font-style: italic, bold;
  z-index: 1;
  float: left;
  padding-top: 2%;
  padding-left: 1%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  padding: 0%;
  margin: 0%;
  
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fe4b1a;
}

#keyword { 
  z-index: 1;
  align-items: center;
  display: inline, flex;
  flex-flow: row wrap;
}

body {
padding: 0%;
margin: 0%

